<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <a href="/category/form">Do Dodawania Kolejnych Kategorii</a>
    <a href="/category/all">Do Wszystkich kategorii </a>
    <a href="/product/add">Do dodawania produktów </a>

</nav>
<h1>Dodaj Product</h1>
<form  th:action="@{/product/add}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}" />
    <p> Nazwa: <input type="text" th:field="*{name}" /></p>
    <p> Opis: <input type="text" th:field="*{description}" /></p>
    <select th:field="*{category}">
        <option th:each="category: ${categories}"
                th:value="${category.id}"
                th:text="${category}">Category</option>
    </select>
    <p><input type="submit" value="Dodaj" />
</form>
</body>
</html>